html
  head
    block head
      title Weather

      link(
        rel='icon'
        href='../../assets/img/weather.png'
      )

  body
    div#main-content
      header
        block title
          h1 This is a placeholder title

      nav
        include ./nav

      block content
        p Need to fill out content for page

    footer
      block footer
        hr
        p Created by Souveek Kumar Bose