extends ../partials/layout

block title
  h1 Weather

block content
  p Find weather forecast for location of your choice

  form(action='submit')
    input(
      placeholder='Location'
      type='text'
    )
    span#spacing
    button Search

  p#error

  p#result
  